*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 100%;
}
body{
    font-size: 0.8rem;
    font-family: 'Spartan', sans-serif;
    
}
h1{
font-size: 2rem;
}
h1,h2,h3,h4,h5,h6{
    color: $heading;
    }
p{
    color: $text-color;
    line-height: 1.6;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: $heading;
    font-weight: bold;
}