.main{
    .about{
        padding: 1rem;
        align-self: center;
        p{
            margin-block: 1rem;
        }
    }
        img{
            width: 100%;
            height: 100%;
        }
}