.nav{
    background-size: cover;
    height: 70vh;
     padding-top: 1.3rem;
    @include desktop {
        height: 90vh;
        display: flex;
    }
    // logos
    &__logo{
        position: relative;
        left: 40%;
        @include desktop{
            left: 10%;
        }
    }
   &__hamburger{
       margin-left: 1rem;
   }
   &__hamburger,&__close{
       cursor: pointer;
       @include desktop{
           display: none;

       }
   }
   &__close{
       margin-top:0.2rem ;
       margin-left: 1rem;
   }
   &__list{
       display: flex;
       margin-left: 40%;
       li{
           a{
               color: white;
           }
           margin-inline: 1rem;
       }
   }
    
    // mobile
    @media  screen and (max-width:$desktop) {
      
      &__white-bg{
        
            background-color: white;
            display: flex;
             padding-block:1.4rem;
           transform: translateY(-120px);
            ul{
                display: inherit;
                margin-right: .4rem;
                li{
                    margin: 6px;
                    a{
                        color: $heading;
                    }
                }
            }
        }
        // actions classe
        .hideList{
            transform: translateY(-40px);
           
        }
        .transition{
            transition: transform 0.4s;
        }
    }
    // arrows
    &__arrows{
         background-color: black;
         width: fit-content;
         padding: 1rem 0.5rem;
         position: absolute;
         top: 59.4%;
         right:0rem;
         svg{
             margin-inline: 1rem;
             cursor: pointer;
         }
         @include desktop{
             right: 26.7%;
             top: 79.3%;
            }
            @include desktopLarge{
                right: 29.5%;
                top: 79.7%;
            }
        }
       
}
.changeBg1{
    background: url(/images/mobile-image-hero-1.jpg) no-repeat;
    @include desktop{
        background: url(/images/desktop-image-hero-1.jpg) no-repeat ;
    }
}
.changeBg2{
   background: url(/images/mobile-image-hero-2.jpg) no-repeat;
   @include desktop{
    background: url(/images/desktop-image-hero-2.jpg) no-repeat ;
}
}
.changeBg3{
   background: url(/images/mobile-image-hero-3.jpg) no-repeat;
   @include desktop{
       background: url(/images/desktop-image-hero-3.jpg) no-repeat ;
   }
}
.changeBg1,.changeBg2,.changeBg3{
    background-size: cover;
}
