$text-color: hsl(0, 0%, 63%);
$heading:black;
$tablette:37.5em;
$desktop:55em;
$desktopLarge:60em;


// mixin

@mixin tablette {
    @media  (min-width:$tablette) {
        @content;
    }
}
@mixin desktop {
    @media  (min-width:$desktop) {
        @content;
    }
}
@mixin desktopLarge {
    @media  (min-width:$desktopLarge) {
        @content;
    }
}