$text-color: hsl(0, 0%, 63%);
$heading:hsl(0, 0%, 27%);
$tablette:37.5em;
$desktop:43em;


// mixin

@mixin tablette {
    @media  (min-width:$tablette) {
        @content;
    }
}
@mixin desktop {
    @media  (min-width:$desktop) {
        @content;
    }
}